body {
  background-color:white;
}
div{
    background-color:#d9ce38;
    width:120px;
    height:20px;
    padding:40px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}
p.demo1 {
  direction: rtl;
  unicode-bidi: bidi-override;
}
p.ex{
  text-decoration: underline;
}
p.six {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  border-style: double;
  border-width: thick;
  border-color: green;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border: 5px dotted red;
}